*.json
/a
*.exe
/done/
*.old/
!dist/data/
!dist/data/**
debug
*.ori
_*
/tests/
old*/
*.zip
a
*.csv
*.xlsx
*.txt
cover.out
!/config.example.json
!/LICENSE.TXT
!logins.txt
!/test/integration/*.txt
*.ini
*.prop*
